* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: linear-gradient(-45deg, #00c6ff, #0072ff, #00dbde, #fc00ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  color: white;
}

/* ANIMAÇÃO */
@keyframes gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

/* CARD */
.form-container {
  width: 90%;
  max-width: 500px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);

  padding: 25px;
  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* TÍTULO */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* GRUPOS */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* INPUTS */
input, textarea, select {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;

  outline: none;

  background: rgba(255,255,255,0.2);
  color: white;
}

/* PLACEHOLDER */
input::placeholder,
textarea::placeholder {
  color: rgba(255,255,255,0.7);
}

/* BOTÃO */
.btn-add {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 10px;

  background: #00e676;
  color: #000;

  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add:hover {
  background: #00c853;
}
